.general-view-body {
  max-width: 1200px;
  margin: auto;
  padding: 20px; /* Agrega un poco de espacio alrededor del contenido */
}

.general-view-body .filters {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px; /* Esto añadirá espacio entre los elementos de filtro */
  margin-bottom: 20px; /* Espacio antes de la tabla */
}

.general-view-body input[type="text"],
.general-view-body .filter select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1rem;
}



/* Estilos para los botones de navegación de páginas */
.general-view-body .pages {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Añade espacio entre los botones y la información de página */
  margin-top: 20px; /* Espacio después de la tabla */
}

input {
  width: 1100px;
  padding: 10px;
  margin: 10px 20px;
  border-radius: 10px;
}

.pages {
  display: flex;
  flex-direction: row;
}

.page-info {
  padding: 0px 10px;
}

.filters {
  display: flex;
  flex-direction: row;
  align-items: center;
}
