.home-view-body {
  width: 80%;
  height: 150px;
  margin: auto;
  margin-top: 20px; /* Aumentado para más espacio en la parte superior */
  padding: 20px; /* Aumentado para más espacio interior */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid black;
  background-color: var(--bg-color, #fff); /* Uso de variables CSS para el modo oscuro/claro */
  color: var(--text-color, #000); /* Asegurando que el color del texto se ajuste al esquema */
}

.titleContainer > div {
  font-size: 1.25rem; /* Aumentar el tamaño para mayor legibilidad */
  text-align: center; /* Alineación central del texto de bienvenida */
  margin: 10px; /* Espaciado después del mensaje de bienvenida */
}
