table {
  border-collapse: collapse;
  border-radius: 5px;
  border-style: hidden; /* hide standard table (collapsed) border */
  box-shadow: 0 0 0 1px #c2c2c2;
}

th,
td {
  border: 1px solid #c2c2c2;
  padding: 5px 10px;
}

th {
  background-color: #dcdcdc95;
}

table td:first-child,
table th:first-child {
  display: none;
}
